# Predicting Baseball Salaries, Part II

I previously worked on a simple regression model to predict baseball player salaries where I collected player team, position and salary for the 2019 season. It was a simple exercise in using decision trees and different ensemble methods to predict salaries, but I wanted to go back and see if I included more stats, specifically the previous season's hitting statistics, could I get closer to predicting salary?

My first step was to load in the libraries necessary and then my previously collected salary data from [USA Today](https://www.usatoday.com/sports/mlb/salaries/).

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time

In [57]:
%%capture

from tqdm import tqdm_notebook as tqdm
from tqdm import tnrange
tqdm().pandas()

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
salary = pd.read_pickle('salary_info')

In [4]:
salary.head()

               name team position    salary
0       MaxScherzer  WSH       SP  42142857
1  StephenStrasburg  WSH       SP  36428571
2         MikeTrout  LAA       CF  34083333
3       ZackGreinke  ARI       SP  32421884
4        DavidPrice  BOS       SP  31000000

Now that I have those salaraies, I want to get the 2018 hitting stats. I'm going to collect my data from [MLB's site](https://www.mlb.com/stats/2018) for each player and then use BeautifulSoup to parse the HTML.

In [5]:
url = 'https://www.mlb.com/stats/2018'
html = requests.get(url)
html

I like to get the values for each metric and then build out a function - if you can get one, you can get them all. Below is just a rundown for how I got each value before the functions which are listed afterwards.

In [6]:
soup = BeautifulSoup(html.content, 'html.parser')

In [7]:
name_container = soup.find('th', {'data-row' : 0})
name_container

<th class="pinned-col-3lxtuFnc col-group-start-sa9unvY0 number-aY5arzrB first-col-3aGPCzvr is-table-pinned-1WfPW2jT" data-col="0" data-row="0" id="tb-6799-body-row0" scope="row"><div class="custom-cell-wrapper-34Cjf9P0"><div class="index-3cdMSKi7">1</div><div class="value-wrapper-1W5GYs5E"><div class="top-wrapper-1NLTqKbE"><div><a aria-label="Mike Trout" class="bui-link" href="/player/545361"><span class="full-3fV3c9pF">Mike</span><span class="short-3OJ0bTju">M Trout</span><span class="full-3fV3c9pF">Trout</span></a></div><div class="position-28TbwVOg">CF</div></div></div></div><div class="placeholder-wrapper-bEG1UFFP"><div class="index-3cdMSKi7">1</div><div><span class="bui-skeleton"><span class="skeleton-row-2cL12jX9" style="background-color:#eee;background-image:linear-gradient(90deg, #eee, #F5F5F5, #eee);border-radius:50%;width:42px;height:42px">‌</span></span></div><div class="placeholder-content-2l2UMerJ"><div><span class="bui-skeleton"><span class="skeleton-row-2cL12jX9" style="background-color:#eee;background-image:linear-gradient(90deg, #eee, #F5F5F5, #eee);border-radius:4px;width:200px;height:16px">‌</span></span></div><div><span class="bui-skeleton"><span class="skeleton-row-2cL12jX9" style="background-color:#eee;background-image:linear-gradient(90deg, #eee, #F5F5F5, #eee);border-radius:4px;width:100px;height:7px">‌</span></span></div></div></div></th>

In [8]:
names = name_container.findAll('span', class_ = 'full-3fV3c9pF')
names

[<span class="full-3fV3c9pF">Mike</span>,
 <span class="full-3fV3c9pF">Trout</span>]

In [9]:
for i in range(len(names)):
    print(names[i].get_text())

Mike
Trout

Get Name

In [10]:
first = names[0].get_text()
last = names[1].get_text()
print(first, last)

Mike Trout

In [11]:
full_name = first + " " + last
full_name

'Mike Trout'

Get Position

In [12]:
name_container.find('div', class_ = 'position-28TbwVOg').get_text()

'CF'

Get Team

In [13]:
soup.find('td', {'data-col': '1', 'data-row': '0'}).get_text()

'LAA'

Get Games

In [14]:
soup.find('td', {'data-col': '2', 'data-row': '0'}).get_text()

'140'

Get At Bats

In [15]:
soup.find('td', {'data-col': '3', 'data-row': '0'}).get_text()

'471'

Get Runs

In [16]:
soup.find('td', {'data-col': '4', 'data-row': '0'}).get_text()

'101'

Get Hits

In [17]:
soup.find('td', {'data-col': '5', 'data-row': '0'}).get_text()

'147'

Get Doubles

In [18]:
soup.find('td', {'data-col': '6', 'data-row': '0'}).get_text()

'24'

Get Triples

In [19]:
soup.find('td', {'data-col': '7', 'data-row': '0'}).get_text()

'4'

Get Homeruns

In [20]:
soup.find('td', {'data-col': '8', 'data-row': '0'}).get_text()

'39'

Get RBIs

In [21]:
soup.find('td', {'data-col': '9', 'data-row': '0'}).get_text()

'79'

Get Walks

In [22]:
soup.find('td', {'data-col': '10', 'data-row': '0'}).get_text()

'122'

Get Strikeouts

In [23]:
soup.find('td', {'data-col': '11', 'data-row': '0'}).get_text()

'124'

Get Stolen Bases

In [24]:
soup.find('td', {'data-col': '12', 'data-row': '0'}).get_text()

'24'

Get Caught Stealing

In [25]:
soup.find('td', {'data-col': '13', 'data-row': '0'}).get_text()

'2'

Get Batting Average

In [26]:
soup.find('td', {'data-col': '14', 'data-row': '0'}).get_text()

'.312'

Get On Base Percentage

In [27]:
soup.find('td', {'data-col': '15', 'data-row': '0'}).get_text()

'.460'

Get Slugging Percentage

In [28]:
soup.find('td', {'data-col': '16', 'data-row': '0'}).get_text()

'.628'

Get On Base Plus Slugging Percentage

In [29]:
soup.find('td', {'data-col': '17', 'data-row': '0'}).get_text()

'1.088'

## Scraping MLB.com for 2018 Stats

Now that I've figured out how to get each metric, I can build my functions. I'm going to append each of the metrics for a given player to a dataframe which I'll later combine with my salary information. I initiated the dataframe below for all of the columns that I'll be scraping for.

In [62]:
df = pd.DataFrame(columns = ['FirstName', 'LastName', 'FullName', 'Position', 'Team', 'Games', 'At_Bats', 'Runs', 
                             'Hits', 'Doubles', 'Triples', 'Homeruns', 'RBIs', 'Walks', 'Strikeouts', 'StolenBases', 
                            'CaughtStealing', 'BattingAverage', 'OnBasePercentage', 'SluggingPercentage', 
                            'OnBaseSluggingPercent'])
df

Empty DataFrame
Columns: [FirstName, LastName, FullName, Position, Team, Games, At_Bats, Runs, Hits, Doubles, Triples, Homeruns, RBIs, Walks, Strikeouts, StolenBases, CaughtStealing, BattingAverage, OnBasePercentage, SluggingPercentage, OnBaseSluggingPercent]
Index: []

### Functions

In [34]:
def get_first_name(soup, data_row):
    """
    This function gets the first, last and full name for each player 
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        first name, last name & full name
    
    """
    container = soup.find('th', {'data-row' : data_row})
    names = container.findAll('span', class_ = 'full-3fV3c9pF')
    first_name = names[0].get_text()
    last_name = names[1].get_text()
    full_name = first_name + ' ' + last_name
    return first_name, last_name, full_name

In [35]:
def get_position(soup, data_row):
    """
    This function returns a player's position
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        player position
    
    """
    container = soup.find('th', {'data-row' : data_row})
    position = container.find('div', class_ = 'position-28TbwVOg').get_text()
    return position

In [36]:
def get_team(soup, data_row):
    """
    This function returns the team a player plays for
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        team name
    
    """
    team = soup.find('td', {'data-col': '1', 'data-row': data_row}).get_text()
    return team

In [37]:
def get_games(soup, data_row):
    """
    This function returns the number of games a player played
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of games played
    
    """
    games = soup.find('td', {'data-col': '2', 'data-row': data_row}).get_text()
    return games

In [38]:
def get_atbats(soup, data_row):
    """
    This function returns the number of at bats a player had in the 2018 season
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of at bats
    
    """
    at_bats = soup.find('td', {'data-col': '3', 'data-row': data_row}).get_text()
    return at_bats

In [39]:
def get_runs(soup, data_row):
    """
    This function returns the number of runs a player scored
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of runs 
    
    """
    runs = soup.find('td', {'data-col': '4', 'data-row': data_row}).get_text()
    return runs

In [40]:
def get_hits(soup, data_row):
    """
    This function returns the number of hits a player had
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of hits 
    
    """
    hits = soup.find('td', {'data-col': '5', 'data-row': data_row}).get_text()
    return hits

In [41]:
def get_doubles(soup, data_row):
    """
    This function returns the number of doubles a player hit
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of doubles 
    
    """
    doubles = soup.find('td', {'data-col': '6', 'data-row': data_row}).get_text()
    return doubles

In [42]:
def get_triples(soup, data_row):
    """
    This function returns the number of triples a player hit
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of triples 
    
    """
    triples = soup.find('td', {'data-col': '7', 'data-row': data_row}).get_text()
    return triples

In [43]:
def get_homeruns(soup, data_row):
    """
    This function returns the number of homeruns a player scored
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of homeruns 
    
    """
    homeruns = soup.find('td', {'data-col': '8', 'data-row': data_row}).get_text()
    return homeruns

In [44]:
def get_rbis(soup, data_row):
    """
    This function returns the number of RBIs a player brought in
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of RBIs 
    
    """
    rbis = soup.find('td', {'data-col': '9', 'data-row': data_row}).get_text()
    return rbis

In [45]:
def get_walks(soup, data_row):
    """
    This function returns the number of walks for a player
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of walks 
    
    """
    walks = soup.find('td', {'data-col': '10', 'data-row': data_row}).get_text()
    return walks

In [46]:
def get_strikeouts(soup, data_row):
    """
    This function returns the number of times a player struck out
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of strikeouts 
    
    """
    strikeouts = soup.find('td', {'data-col': '11', 'data-row': data_row}).get_text()
    return strikeouts

In [47]:
def get_stolenbases(soup, data_row):
    """
    This function returns the number of times a player successfully stole a base
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of stolen bases 
    
    """
    stolenbases = soup.find('td', {'data-col': '12', 'data-row': data_row}).get_text()
    return stolenbases

In [48]:
def get_caughtstealing(soup, data_row):
    """
    This function returns the number of times a player was caught stealing a base
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        number of times caught stealing a base 
    
    """
    caughtstealing = soup.find('td', {'data-col': '13', 'data-row': data_row}).get_text()
    return caughtstealing

In [49]:
def get_battingavg(soup, data_row):
    """
    This function returns a player's batting average
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        batting average 
    
    """
    battingavg = soup.find('td', {'data-col': '14', 'data-row': data_row}).get_text()
    return battingavg

In [50]:
def get_onbasepercent(soup, data_row):
    """
    This function returns a player's on base percentage
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        on base percentage 
    
    """
    onbasepercent = soup.find('td', {'data-col': '15', 'data-row': data_row}).get_text()
    return onbasepercent

In [51]:
def get_sluggingpercent(soup, data_row):
    """
    This function returns a player's slugging percentage
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        slugging percentage 
    
    """
    sluggingpercent = soup.find('td', {'data-col': '16', 'data-row': data_row}).get_text()
    return sluggingpercent

In [52]:
def get_onbaseslugging(soup, data_row):
    """
    This function returns a player's on base percentage plus his slugging percentage
    
    Parameters:
        soup: html soup parsing for data
        data_row: row on the webpage for a particular player
        
    Returns:
        on base percentage + slugging percentage 
    
    """
    onbaseslugging = soup.find('td', {'data-col': '17', 'data-row': data_row}).get_text()
    return onbaseslugging

In [61]:
players_on_page = range(25)

def get_contents(webpage):
    """
    This function requests a webpage that will then be scraped. Once the webpage is turned into a soup using 
    BeautifulSoup, the html passes through each of the metric functions above and the value is appended to my
    dataframe. Each page has 25 rows on it so I have a for loop that iterates over each of those values. That value
    is what I use as my 'data_row' parameter in each of the metric functions.
    
    Parameters:
        webpage: link being used to scrape
        
    Returns:
        appended row to the 'df' dataframe for an individual player 
    
    """
    html = requests.get(webpage)
    soup = BeautifulSoup(html.content, 'html.parser')
    
    for i in players_on_page:
        try:
            first_name, last_name, full_name = get_first_name(soup, i)
            position = get_position(soup, i)
            team = get_team(soup, i)
            games = get_games(soup, i)
            at_bats = get_atbats(soup, i)
            runs = get_runs(soup, i)
            hits = get_hits(soup, i)
            doubles = get_doubles(soup, i)
            triples = get_triples(soup, i)
            homeruns = get_homeruns(soup, i)
            rbis = get_rbis(soup, i)
            walks = get_walks(soup, i)
            strikeouts = get_strikeouts(soup, i)
            stolenbases = get_stolenbases(soup, i)
            caughtstealing = get_caughtstealing(soup, i)
            battingavg = get_battingavg(soup, i)
            onbasepercent = get_onbasepercent(soup, i)
            slugging = get_sluggingpercent(soup, i)
            onbaseslug = get_onbaseslugging(soup, i)
            
            time.sleep(.5)
        
            global df
            df = df.append({'FirstName': first_name, 
                           'LastName': last_name,
                           'FullName': full_name, 
                           'Position': position, 
                           'Team': team,
                           'Games': games,
                           'At_Bats': at_bats,
                           'Runs': runs,
                           'Hits': hits,
                           'Doubles': doubles,
                           'Triples': triples,
                           'Homeruns': homeruns,
                           'RBIs': rbis,
                           'Walks': walks,
                           'Strikeouts': strikeouts,
                           'StolenBases': stolenbases,
                           'CaughStealing': caughtstealing,
                           'BattingAverage': battingavg,
                           'OnBasePercentage': onbasepercent,
                           'SluggingPercentage': slugging,
                           'OnBaseSluggingPercent': onbaseslug}, ignore_index=True)
        
        
        except AttributeError:
            continue

Now that I have all my functions, I can scrape my sites. There are 51 pages. Pages 2-51 all follow the same cadence where it includes the page number in the link. My first URL looks different so I want to pass that through my function first and then I can iterate over a list of the remaining links and get all of my data to then get to work.

In [63]:
first_url = 'https://www.mlb.com/stats/2018?playerPool=ALL'

In [64]:
get_contents(first_url)

In [65]:
print(df.shape)
df.head()

(25, 22)

,FirstName,LastName,FullName,Position,Team,Games,At_Bats,Runs,Hits,Doubles,Triples,Homeruns,RBIs,Walks,Strikeouts,StolenBases,CaughtStealing,BattingAverage,OnBasePercentage,SluggingPercentage,OnBaseSluggingPercent,CaughStealing
0,Enny,Romero,Enny Romero,P,KC,4,1,1,1,1,0,0,0,0,0,0,NaN,1.000,1.000,2.000,3.000,0
1,Kolby,Allard,Kolby Allard,P,ATL,3,1,1,1,0,0,0,0,0,0,0,NaN,1.000,1.000,1.000,2.000,0
2,Kyle,Gibson,Kyle Gibson,P,MIN,1,2,2,2,0,0,0,0,0,0,0,NaN,1.000,1.000,1.000,2.000,0
3,Derek,Law,Derek Law,P,SF,7,1,1,1,0,0,0,0,0,0,0,NaN,1.000,1.000,1.000,2.000,0
4,Vidal,Nuno,Vidal Nuno,P,TB,1,2,0,2,0,0,0,1,0,0,0,NaN,1.000,1.000,1.000,2.000,0

Like I mentioned before, the remaining links follow the same pattern so I want to set a list for each of those. I append a new link to my url_list list and then I can loop over that using my get_contents() function.

In [66]:
url_list = []

for i in range(2, 52):
    url_list.append('https://www.mlb.com/stats/2018?page=' + str(i) + '&playerPool=ALL')

url_list

['https://www.mlb.com/stats/2018?page=2&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=3&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=4&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=5&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=6&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=7&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=8&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=9&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=10&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=11&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=12&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=13&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=14&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=15&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=16&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=17&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=18&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=19&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=20&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=21&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=22&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=23&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=24&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=25&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=26&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=27&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=28&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=29&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=30&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=31&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=32&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=33&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=34&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=35&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=36&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=37&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=38&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=39&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=40&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=41&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=42&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=43&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=44&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=45&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=46&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=47&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=48&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=49&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=50&playerPool=ALL',
 'https://www.mlb.com/stats/2018?page=51&playerPool=ALL']

In [67]:
for i in tqdm(url_list):
    get_contents(i)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=50.0), HTML(value='')))

One thing I want to check is the shape of my dataframes. My hitting stats have nearly 1.3k observations where my salary dataframe only has 877. I will only want to work with observations that appear in both dataframes once I combine them.

In [68]:
df.shape

(1270, 22)

In [69]:
salary.shape

(877, 4)

In [70]:
df.FullName.value_counts()

Jose Ramirez        2
Javy Guerra         2
Brandon Morrow      1
Tyler Chatwood      1
Josh Fields         1
                   ..
Tony Cruz           1
Phil Maton          1
Travis Jankowski    1
Eddie Rosario       1
Shane Greene        1
Name: FullName, Length: 1268, dtype: int64

In [71]:
df.head()

,FirstName,LastName,FullName,Position,Team,Games,At_Bats,Runs,Hits,Doubles,Triples,Homeruns,RBIs,Walks,Strikeouts,StolenBases,CaughtStealing,BattingAverage,OnBasePercentage,SluggingPercentage,OnBaseSluggingPercent,CaughStealing
0,Enny,Romero,Enny Romero,P,KC,4,1,1,1,1,0,0,0,0,0,0,NaN,1.000,1.000,2.000,3.000,0
1,Kolby,Allard,Kolby Allard,P,ATL,3,1,1,1,0,0,0,0,0,0,0,NaN,1.000,1.000,1.000,2.000,0
2,Kyle,Gibson,Kyle Gibson,P,MIN,1,2,2,2,0,0,0,0,0,0,0,NaN,1.000,1.000,1.000,2.000,0
3,Derek,Law,Derek Law,P,SF,7,1,1,1,0,0,0,0,0,0,0,NaN,1.000,1.000,1.000,2.000,0
4,Vidal,Nuno,Vidal Nuno,P,TB,1,2,0,2,0,0,0,1,0,0,0,NaN,1.000,1.000,1.000,2.000,0

In [72]:
df.to_pickle('hitting_data_v1')